@font-face {
    font-family: 'Oriya MN';
    src: url('OriyaMN.woff2') format('woff2'),
        url('OriyaMN.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

